.profile-pictre{
 background: url('/images/content/profilepicture.jpg');
  background-size: 100%;
};
.content-card{
 width:82%;
  height:100%;
  margin-top:1%;
  overflow: hidden;
};
.short-biography{
  font-size:10pt;

}
.adress-text{
 font-size:6pt;
}
h1, h2, h3, h4, h5, h6{
  font-size: 14pt;
  font-weight: bold;
}