.profile-pictre{
 background: url('/images/content/profilepicture.jpg');
  background-size: 100%;
};
.content-card{
  height:100%;
  margin-top:1%;
  padding-right:10%;
  overflow: hidden;
};
.short-biography{
  font-size:10pt;
}
.adress-text{
 font-size:7pt;
}
h1, h2, h3, h4, h5, h6{
  font-size: 14pt;
  font-weight: bold;
}