<!--<div><img ng-src="images/content/1.jpg"> </div>-->
<!--<div><img ng-src="images/content/2.jpg"> </div>-->
<!--<div><img ng-src="images/content/3.jpg"> </div>-->
<!--<div><img ng-src="images/content/4.jpg"> </div>-->
<!--<div><img ng-src="images/content/5.jpg"> </div>-->
<div class=" gallery-view">
    <div data-auto="false" fotorama item="fotoArray" class="fotorama" data-allowfullscreen="true" data-arrows="true" data-fit="cover"
         data-nav="thumbs" data-ratio="800/600" data-minwidth="800" data-maxwidth="1000" data-minheight="300"
         data-keyboard="true" data-navposition="top"
         data-transition="dissolve"
         data-maxheight="100%">
    </div>
</div>